.header {
    /* Styles for the header element */
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

.navbar {
    /* Styles for the navigation bar */
    display: flex;
    align-items: center;
}

.hamburger {
    /* Styles for the hamburger menu */
    display: flex;
    align-items: center;
    cursor: pointer;
}

.hamburger button {
    /* Styles for the hamburger menu button */
    background-color: transparent;
    border: none;
    font-size: 24px;
    color: #000;
    cursor: pointer;
}

.hamburger li {
    /* Styles for the hamburger menu links */
    list-style: none;
    margin: 10px 0;
}

.hamburger li a {
    /* Styles for the hamburger menu links */
    color: #000;
    text-decoration: none;
}

.dropdown {
    position: absolute;
    top: 100%;
    left: 0;
    width: 300px;
    z-index: 2;
    border: 1px solid rgba(0, 0, 0, 0.04);
    box-shadow: 0 16px 24px 2px rgba(0, 0, 0, 0.14);
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

li {
    padding: 8px 12px;
}

li:hover {
    background-color: rgba(0, 0, 0, 0.14);
    cursor: pointer;
}