body {
    background-color: rgba(255, 255, 128, .4);
    background-image:
    linear-gradient(
      rgba(129, 35, 237, 0.6), rgb(252, 230, 103)
    );
}

.card-container {
    display: flex;
}

.card {
    /* border: 2px solid black; */
    width: 20rem;
    height: 20rem;
    margin: auto;
    padding: 2px;
    border: none;
    background: none;

}

.title {
    border-bottom: 1px solid black;
    text-align: center;
    font-size: xx-large;
}

.card-body {
    text-align: center;
    margin-top: 5%;
    font-size: larger;
}

h1 {
    text-align: center;
}

h4 {
    text-align: center;
}

.profile-icon {
    margin-left: 6%;
}

.following, .followers {
    margin-left: 3%;
}

.customize-buttons {
    /* border: 1px solid black; */
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 2%;
}

.submit {
    /* border: 1px solid black; */
    /* text-align: center; */
    width: fit-content;
    display: flex;
    flex-direction: column;
    margin: auto;
    margin-bottom: 5%;
}

.created-by {
    text-align: center;   
}

.navigate-cards {
    text-align: center;
}

.followandunfollow {
    margin-left: 3%;
}

.return-home {
    text-align: center;
}

/* COMPONENTS */

/* Login Screen */
.signUpPrompt {
    display: flex;
    justify-content: center;
}

.signUpLink {
    padding-top: 16px;
    padding-left: 8px;
}

.login-form {
    text-align: center;
}

/* Sign Up Screen */
.login-form {
    text-align: center;
}

.edit-form {
    text-align: center;
}

.disclaimerPassword {
    font-size: xx-small;
    margin-left: 30px;
}